.loginBox {
  width: 100%;
  height: 100%;
  background: white;
}

.loginBox .logo {
  width: 100%;
  padding: .5rem 0 .25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox .logo img {
  width: 1.6rem;
}

.loginBox .loginMain {
  padding: .9rem .2rem 0 .2rem;
}

.loginBox .loginMain .inputWrap {
  height: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox .loginMain .inputWrap input {
  display: block;
  height: 80%;
  border: none;
  width: 100%;
  font-size: .2rem;
}

.loginBox .loginMain .loginBtn {
  margin-top: .5rem;
}

.login {
  height: 100%;
}
